 .u-section-1 {
   background-image: none;
   min-height: 1005px;
 }

 .u-section-1 .u-shape-1 {
   height: 556px;
   margin-top: 0;
   margin-bottom: 0;
   background-image: linear-gradient(#2cccc4, #478ac9);
 }

 .u-section-1 .u-layout-wrap-1 {
   width: 1140px;
   margin: -496px auto 60px;
 }

 .u-section-1 .u-image-1 {
   min-height: 885px;
   background-image: url("images/Harry.jpg");
   background-position: 50% 50%;
   --radius: 10px;
 }

 .u-section-1 .u-container-layout-1 {
   box-shadow: 2px 2px 8px 0px rgba(128, 128, 128, 1);
   padding: 18px 0;
 }

 .u-section-1 .u-layout-cell-2 {
   min-height: 885px;
 }

 .u-section-1 .u-container-layout-2 {
   padding: 20px 0;
 }

 .u-section-1 .u-text-1 {
   line-height: 2;
   font-size: 1.5rem;
   font-style: normal;
   font-weight: 400;
   text-shadow: 2px 2px 8px rgba(128, 128, 128, 1);
   margin: 0 5px 0 10px;
 }

 .u-section-1 .u-text-2 {
   font-size: 1.25rem;
   text-shadow: 2px 2px 8px rgba(128, 128, 128, 1);
   margin: 10px 163px 0 237px;
 }

 @media (max-width: 1199px) {
   .u-section-1 {
     min-height: 862px;
   }

   .u-section-1 .u-shape-1 {
     height: 585px;
   }

   .u-section-1 .u-layout-wrap-1 {
     width: 940px;
   }

   .u-section-1 .u-image-1 {
     min-height: 730px;
   }

   .u-section-1 .u-layout-cell-2 {
     min-height: 742px;
   }

   .u-section-1 .u-text-1 {
     margin-left: 0;
     margin-right: 0;
   }

   .u-section-1 .u-text-2 {
     margin-right: 113px;
     margin-left: 187px;
     width: 157px;
   }
 }

 @media (max-width: 991px) {
   .u-section-1 {
     min-height: 731px;
   }

   .u-section-1 .u-layout-wrap-1 {
     width: 720px;
   }

   .u-section-1 .u-image-1 {
     min-height: 559px;
   }

   .u-section-1 .u-container-layout-1 {
     padding-left: 95px;
   }

   .u-section-1 .u-layout-cell-2 {
     min-height: 100px;
   }

   .u-section-1 .u-text-2 {
     margin-right: 58px;
     margin-left: 132px;
   }
 }

 @media (max-width: 767px) {
   .u-section-1 {
     min-height: 1045px;
   }

   .u-section-1 .u-layout-wrap-1 {
     width: 540px;
   }

   .u-section-1 .u-image-1 {
     order: 1;
     min-height: 839px;
   }

   .u-section-1 .u-container-layout-1 {
     padding-left: 0;
   }

   .u-section-1 .u-layout-cell-2 {
     order: 0;
   }

   .u-section-1 .u-text-1 {
     font-size: 1rem;
   }

   .u-section-1 .u-text-2 {
     font-size: 1rem;
   }
 }

 @media (max-width: 575px) {
   .u-section-1 {
     min-height: 1152px;
   }

   .u-section-1 .u-shape-1 {
     height: 675px;
   }

   .u-section-1 .u-layout-wrap-1 {
     width: 340px;
   }

   .u-section-1 .u-image-1 {
     min-height: 528px;
   }

   .u-section-1 .u-text-2 {
     margin-right: 0;
     margin-left: 0;
   }
 }

 .u-section-2 {
   background-image: none;
 }

 .u-section-2 .u-sheet-1 {
   min-height: 604px;
 }

 .u-section-2 .u-text-1 {
   text-shadow: 2px 2px 8px rgba(128, 128, 128, 1);
   margin: 0 auto;
 }

 .u-section-2 .u-layout-wrap-1 {
   width: 100%;
   margin: 21px 0 36px;
 }

 .u-section-2 .u-layout-cell-1 {
   min-height: 149px;
 }

 .u-section-2 .u-container-layout-1 {
   padding: 30px;
 }

 .u-section-2 .u-text-2 {
   font-size: 1.5rem;
   text-shadow: 2px 2px 8px rgba(128, 128, 128, 1);
   margin: 0 auto;
 }

 .u-section-2 .u-image-1 {
   width: 73px;
   height: 73px;
   margin: 9px auto 0;
 }

 .u-section-2 .u-layout-cell-2 {
   min-height: 149px;
 }

 .u-section-2 .u-container-layout-2 {
   padding: 30px;
 }

 .u-section-2 .u-text-3 {
   text-shadow: 2px 2px 8px rgba(128, 128, 128, 1);
   margin: 0 auto;
 }

 .u-section-2 .u-icon-1 {
   width: 64px;
   height: 64px;
   margin: 9px auto 0;
 }

 .u-section-2 .u-layout-cell-3 {
   min-height: 149px;
 }

 .u-section-2 .u-container-layout-3 {
   padding: 30px;
 }

 .u-section-2 .u-text-4 {
   text-shadow: 2px 2px 8px rgba(128, 128, 128, 1);
   margin: 0 auto;
 }

 .u-section-2 .u-image-2 {
   --radius: 10px;
   width: 64px;
   height: 64px;
   margin: 9px auto 0;
 }

 .u-section-2 .u-layout-cell-4 {
   min-height: 149px;
 }

 .u-section-2 .u-container-layout-4 {
   padding: 30px;
 }

 .u-section-2 .u-text-5 {
   text-shadow: 2px 2px 8px rgba(128, 128, 128, 1);
   margin: 0 auto;
 }

 .u-section-2 .u-icon-2 {
   width: 64px;
   height: 64px;
   margin: 9px auto 0;
 }

 .u-section-2 .u-layout-cell-5 {
   min-height: 141px;
 }

 .u-section-2 .u-container-layout-5 {
   padding: 30px;
 }

 .u-section-2 .u-text-6 {
   text-shadow: 2px 2px 8px rgba(128, 128, 128, 1);
   margin: 0 auto;
 }

 .u-section-2 .u-image-3 {
   width: 64px;
   height: 64px;
   margin: 9px auto 0;
 }

 .u-section-2 .u-layout-cell-6 {
   min-height: 141px;
 }

 .u-section-2 .u-container-layout-6 {
   padding: 30px;
 }

 .u-section-2 .u-text-7 {
   text-shadow: 2px 2px 8px rgba(128, 128, 128, 1);
   margin: 0 auto;
 }

 .u-section-2 .u-image-4 {
   width: 64px;
   height: 64px;
   margin: 9px auto 0;
 }

 .u-section-2 .u-layout-cell-7 {
   min-height: 141px;
 }

 .u-section-2 .u-container-layout-7 {
   padding: 30px;
 }

 .u-section-2 .u-text-8 {
   text-shadow: 2px 2px 8px rgba(128, 128, 128, 1);
   margin: 0 auto;
 }

 .u-section-2 .u-icon-3 {
   width: 64px;
   height: 64px;
   margin: 9px auto 0;
 }

 .u-section-2 .u-layout-cell-8 {
   min-height: 141px;
 }

 .u-section-2 .u-container-layout-8 {
   padding: 30px;
 }

 .u-section-2 .u-text-9 {
   text-shadow: 2px 2px 8px rgba(128, 128, 128, 1);
   margin: 0 auto;
 }

 .u-section-2 .u-image-5 {
   width: 64px;
   height: 64px;
   margin: 9px auto 0;
 }

 .u-section-2 .u-layout-cell-9 {
   min-height: 160px;
 }

 .u-section-2 .u-container-layout-9 {
   padding: 30px;
 }

 .u-section-2 .u-text-10 {
   text-shadow: 2px 2px 8px rgba(128, 128, 128, 1);
   margin: 0 auto;
 }

 .u-section-2 .u-icon-4 {
   width: 64px;
   height: 64px;
   margin: 9px auto 0;
 }

 .u-section-2 .u-layout-cell-10 {
   min-height: 160px;
 }

 .u-section-2 .u-container-layout-10 {
   padding: 30px;
 }

 .u-section-2 .u-text-11 {
   text-shadow: 2px 2px 8px rgba(128, 128, 128, 1);
   margin: 0 auto;
 }

 .u-section-2 .u-image-6 {
   width: 64px;
   height: 64px;
   margin: 9px auto 0;
 }

 .u-section-2 .u-layout-cell-11 {
   min-height: 160px;
 }

 .u-section-2 .u-container-layout-11 {
   padding: 30px;
 }

 .u-section-2 .u-text-12 {
   text-shadow: 2px 2px 8px rgba(128, 128, 128, 1);
   margin: 0 auto;
 }

 .u-section-2 .u-image-7 {
   width: 64px;
   height: 64px;
   margin: 9px auto 0;
 }

 .u-section-2 .u-layout-cell-12 {
   min-height: 160px;
 }

 .u-section-2 .u-container-layout-12 {
   padding: 30px;
 }

 .u-section-2 .u-text-13 {
   text-shadow: 2px 2px 8px rgba(128, 128, 128, 1);
   margin: 0 auto;
 }

 .u-section-2 .u-icon-5 {
   width: 64px;
   height: 64px;
   margin: 9px auto 0;
 }

 @media (max-width: 1199px) {
   .u-section-2 .u-sheet-1 {
     min-height: 482px;
   }

   .u-section-2 .u-layout-wrap-1 {
     position: relative;
   }

   .u-section-2 .u-image-1 {
     width: -35px;
     height: -35px;
   }

   .u-section-2 .u-image-2 {
     width: -35px;
     height: -35px;
   }

   .u-section-2 .u-image-3 {
     width: -35px;
     height: -35px;
   }

   .u-section-2 .u-image-4 {
     width: -35px;
     height: -35px;
   }

   .u-section-2 .u-image-5 {
     width: -35px;
     height: -35px;
   }

   .u-section-2 .u-image-6 {
     width: -35px;
     height: -35px;
   }

   .u-section-2 .u-image-7 {
     width: -35px;
     height: -35px;
   }
 }

 @media (max-width: 991px) {
   .u-section-2 .u-sheet-1 {
     min-height: 1166px;
   }

   .u-section-2 .u-layout-cell-1 {
     min-height: 100px;
   }

   .u-section-2 .u-layout-cell-2 {
     min-height: 100px;
   }

   .u-section-2 .u-layout-cell-3 {
     min-height: 100px;
   }

   .u-section-2 .u-layout-cell-4 {
     min-height: 100px;
   }

   .u-section-2 .u-layout-cell-5 {
     min-height: 100px;
   }

   .u-section-2 .u-layout-cell-6 {
     min-height: 100px;
   }

   .u-section-2 .u-layout-cell-7 {
     min-height: 100px;
   }

   .u-section-2 .u-layout-cell-8 {
     min-height: 100px;
   }

   .u-section-2 .u-layout-cell-9 {
     min-height: 100px;
   }

   .u-section-2 .u-layout-cell-10 {
     min-height: 100px;
   }

   .u-section-2 .u-layout-cell-11 {
     min-height: 100px;
   }

   .u-section-2 .u-layout-cell-12 {
     min-height: 100px;
   }
 }

 @media (max-width: 767px) {
   .u-section-2 .u-sheet-1 {
     min-height: 2152px;
   }

   .u-section-2 .u-container-layout-1 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-2 .u-container-layout-2 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-2 .u-container-layout-3 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-2 .u-container-layout-4 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-2 .u-container-layout-5 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-2 .u-container-layout-6 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-2 .u-container-layout-7 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-2 .u-container-layout-8 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-2 .u-container-layout-9 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-2 .u-container-layout-10 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-2 .u-container-layout-11 {
     padding-left: 10px;
     padding-right: 10px;
   }

   .u-section-2 .u-container-layout-12 {
     padding-left: 10px;
     padding-right: 10px;
   }
 }

 @media (max-width: 575px) {
   .u-section-2 .u-sheet-1 {
     min-height: 1400px;
   }
 }

 .u-section-3 .u-sheet-1 {
   min-height: 73px;
 }

 .u-section-3 .u-text-1 {
   text-shadow: 2px 2px 8px rgba(128, 128, 128, 1);
   margin: 0 auto 20px;
 }

 .u-section-4 {
   background-image: linear-gradient(#478ac9, #2cccc4);
 }

 .u-section-4 .u-sheet-1 {
   min-height: 2485px;
 }

 .u-section-4 .u-text-1 {
   width: 542px;
   margin: 17px auto 0;
 }

 .u-section-4 .u-btn-1 {
   padding: 0;
 }

 .u-section-4 .u-gallery-1 {
   height: 556px;
   width: 851px;
   grid-gap: 17px;
   margin: 17px auto 0;
 }

 .u-section-4 .u-carousel-indicators-1 {
   position: absolute;
   bottom: 10px;
 }

 .u-section-4 .u-gallery-inner-1 {
   grid-template-columns: repeat(2, auto);
   grid-gap: 17px;
 }

 .u-section-4 .u-carousel-item-1 {
   margin-right: 0;
 }

 .u-section-4 .u-over-slide-1 {
   min-height: 100px;
   background-image: linear-gradient(#adcce9, #4c7397);
   padding: 0;
 }

 .u-section-4 .u-carousel-item-2 {
   margin-right: 0;
 }

 .u-section-4 .u-over-slide-2 {
   min-height: 100px;
   background-image: linear-gradient(#adcce9, #4c7397);
   padding: 0;
 }

 .u-section-4 .u-carousel-item-3 {
   margin-right: 0;
 }

 .u-section-4 .u-over-slide-3 {
   min-height: 100px;
   background-image: linear-gradient(#adcce9, #4c7397);
   padding: 0;
 }

 .u-section-4 .u-carousel-item-4 {
   margin-right: 0;
 }

 .u-section-4 .u-over-slide-4 {
   min-height: 100px;
   background-image: linear-gradient(#adcce9, #4c7397);
   padding: 0;
 }

 .u-section-4 .u-carousel-control-1 {
   position: absolute;
   left: 10px;
   width: 40px;
   height: 40px;
 }

 .u-section-4 .u-carousel-control-2 {
   position: absolute;
   width: 40px;
   height: 40px;
   left: auto;
   right: 10px;
 }

 .u-section-4 .u-text-2 {
   width: 542px;
   margin: 17px auto 0;
 }

 .u-section-4 .u-btn-2 {
   padding: 0;
 }

 .u-section-4 .u-gallery-2 {
   height: 556px;
   width: 851px;
   grid-gap: 17px;
   margin: 17px auto;
 }

 .u-section-4 .u-carousel-indicators-2 {
   position: absolute;
   bottom: 10px;
 }

 .u-section-4 .u-gallery-inner-2 {
   grid-template-columns: repeat(2, auto);
   grid-gap: 17px;
 }

 .u-section-4 .u-carousel-item-5 {
   margin-right: 0;
 }

 .u-section-4 .u-over-slide-5 {
   min-height: 100px;
   background-image: linear-gradient(#adcce9, #425465);
   padding: 0;
 }

 .u-section-4 .u-carousel-item-6 {
   margin-right: 0;
 }

 .u-section-4 .u-over-slide-6 {
   min-height: 100px;
   background-image: linear-gradient(#adcce9, #425465);
   padding: 0;
 }

 .u-section-4 .u-carousel-item-7 {
   margin-right: 0;
 }

 .u-section-4 .u-over-slide-7 {
   min-height: 100px;
   background-image: linear-gradient(#adcce9, #425465);
   padding: 0;
 }

 .u-section-4 .u-carousel-item-8 {
   margin-right: 0;
 }

 .u-section-4 .u-over-slide-8 {
   min-height: 100px;
   background-image: linear-gradient(#adcce9, #425465);
   padding: 0;
 }

 .u-section-4 .u-carousel-control-3 {
   position: absolute;
   left: 10px;
   width: 40px;
   height: 40px;
 }

 .u-section-4 .u-carousel-control-4 {
   position: absolute;
   right: 10px;
   width: 40px;
   height: 40px;
 }

 .u-section-4 .u-text-3 {
   width: 542px;
   margin: 17px auto 0;
 }

 .u-section-4 .u-btn-3 {
   padding: 0;
 }

 .u-section-4 .u-gallery-3 {
   height: 556px;
   width: 851px;
   grid-gap: 17px;
   margin: 17px auto;
 }

 .u-section-4 .u-carousel-indicators-3 {
   position: absolute;
   bottom: 10px;
 }

 .u-section-4 .u-gallery-inner-3 {
   grid-template-columns: repeat(2, auto);
   grid-gap: 17px;
 }

 .u-section-4 .u-carousel-item-9 {
   margin-right: 0;
 }

 .u-section-4 .u-over-slide-9 {
   min-height: 100px;
   background-image: linear-gradient(#adcce9, #425465);
   padding: 0;
 }

 .u-section-4 .u-carousel-item-10 {
   margin-right: 0;
 }

 .u-section-4 .u-over-slide-10 {
   min-height: 100px;
   background-image: linear-gradient(#adcce9, #425465);
   padding: 0;
 }

 .u-section-4 .u-carousel-item-11 {
   margin-right: 0;
   margin-top: 0;
   margin-bottom: 0;
 }

 .u-section-4 .u-over-slide-11 {
   min-height: 100px;
   background-image: linear-gradient(#adcce9, #425465);
   padding: 0;
 }

 .u-section-4 .u-carousel-item-12 {
   margin-right: 0;
   margin-top: 0;
   margin-bottom: 0;
 }

 .u-section-4 .u-over-slide-12 {
   min-height: 100px;
   background-image: linear-gradient(#adcce9, #425465);
   padding: 0;
 }

 .u-section-4 .u-carousel-item-13 {
   margin-right: 0;
   margin-top: 0;
   margin-bottom: 0;
 }

 .u-section-4 .u-over-slide-13 {
   min-height: 100px;
   background-image: linear-gradient(#adcce9, #425465);
   padding: 0;
 }

 .u-section-4 .u-carousel-control-5 {
   position: absolute;
   left: 10px;
   width: 40px;
   height: 40px;
 }

 .u-section-4 .u-carousel-control-6 {
   position: absolute;
   right: 10px;
   width: 40px;
   height: 40px;
 }

 .u-section-4 .u-text-4 {
   width: 542px;
   margin: 18px auto 0;
 }

 .u-section-4 .u-btn-4 {
   padding: 0;
 }

 .u-section-4 .u-gallery-4 {
   height: 448px;
   width: 851px;
   margin: 17px auto 59px;
 }

 .u-section-4 .u-gallery-inner-4 {
   grid-template-columns: repeat(1, auto);
   grid-gap: 10px;
 }

 .u-section-4 .u-over-slide-14 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 45px;
 }

 @media (max-width: 1199px) {
   .u-section-4 .u-gallery-1 {
     grid-template-columns: repeat(3, auto);
   }
 }

 @media (max-width: 991px) {
   .u-section-4 .u-sheet-1 {
     min-height: 2416px;
   }

   .u-section-4 .u-gallery-1 {
     grid-template-columns: repeat(2, auto);
     width: 720px;
   }

   .u-section-4 .u-gallery-inner-1 {
     grid-template-columns: repeat(1, auto);
   }

   .u-section-4 .u-gallery-2 {
     width: 720px;
   }

   .u-section-4 .u-gallery-inner-2 {
     grid-template-columns: repeat(1, auto);
   }

   .u-section-4 .u-gallery-3 {
     width: 720px;
   }

   .u-section-4 .u-gallery-inner-3 {
     grid-template-columns: repeat(1, auto);
   }

   .u-section-4 .u-gallery-4 {
     height: 379px;
     width: 720px;
   }
 }

 @media (max-width: 767px) {
   .u-section-4 .u-sheet-1 {
     min-height: 2321px;
   }

   .u-section-4 .u-text-1 {
     width: 540px;
   }

   .u-section-4 .u-gallery-1 {
     grid-template-columns: repeat(1, auto);
     width: 540px;
   }

   .u-section-4 .u-text-2 {
     width: 540px;
   }

   .u-section-4 .u-gallery-2 {
     width: 540px;
   }

   .u-section-4 .u-text-3 {
     width: 540px;
   }

   .u-section-4 .u-gallery-3 {
     width: 540px;
   }

   .u-section-4 .u-text-4 {
     width: 540px;
   }

   .u-section-4 .u-gallery-4 {
     height: 284px;
     width: 540px;
   }
 }

 @media (max-width: 575px) {
   .u-section-4 .u-sheet-1 {
     min-height: 2216px;
   }

   .u-section-4 .u-text-1 {
     width: 340px;
   }

   .u-section-4 .u-gallery-1 {
     width: 340px;
   }

   .u-section-4 .u-text-2 {
     width: 340px;
   }

   .u-section-4 .u-gallery-2 {
     width: 340px;
   }

   .u-section-4 .u-text-3 {
     width: 340px;
   }

   .u-section-4 .u-gallery-3 {
     width: 340px;
   }

   .u-section-4 .u-text-4 {
     width: 340px;
   }

   .u-section-4 .u-gallery-4 {
     height: 179px;
     width: 340px;
   }
 }

 .gallery {
   border-radius: 10px;
 }

 .u-gallery-item,
 .u-carousel-item,
 .u-carousel-item-left,
 .u-gallery-item-next,
 .u-carousel-item-next {
   border-radius: 10px;
 }
